html, body {
  background: url('http://res.cloudinary.com/akashgajjar/image/upload/q_59/v1505841071/dude_c1u7wx.jpg') center center no-repeat;
  height: 100%;
  background-size: cover;
}

.logo {
  margin-top: -40px;
  margin-left: -40px;
  width: 50%;
  height: auto;
}

#intro p {
  color: white;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  color: #3E4047;
  margin-top: -9%;
}

#counter .countdown {
  text-align: left;
  color: #4c7bba;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  margin: 2% 0 0;
}

.list-inline {
  margin-top: 1%;
  margin-left: 18%;
}

.fa {
  color: rgb(42, 42, 42);
}

#icons .twitter:hover {
  color: #6cadde;
  position: relative;
  top:-3px;
}

#icons .facebook:hover {
  color: #3b5998;
  position: relative;
  top:-3px;
}

#icons .github:hover {
  color: #171515;
  position: relative;
  top:-3px;
}

#icons .instagram:hover {
  color: #9A329E;
  position: relative;
  top:-3px;
}

#signup {
  text-align: left;
  margin-left: 18%;
}

#signup .form-inline {
  display: block;
}

#signup .btn {
  background-color: rgba(161, 186, 226, 0.8);
  color: white;
}

#signup .btn:hover {
  background-color: rgba(37, 165, 82, 1);
}
