/* add your CSS here */

.main{
    border: 1px solid lightgray;
    width: 300px;
    padding: 10px;
    box-shadow: 5px 5px 5px lightgray;
}

.head{
    font-size: 25px;
    margin: 20px auto;
}

.info{
    border: 1px solid lightgray;
    padding: 10px;
}

.list{
    list-style-type: none;
    padding: 0;
}

.image{
    width:300px;
    margin: 10px auto;
}

.bold{
    font-weight: bold;
}

.description{
    font-style: italic;
}