body {
  text-align: center;
  font-family: 'Roboto Mono';
}

.header {
  font-size: 40px;
  margin: 0.2em;
}

.colorpick {
  display: inline;
  font-size: 20px;
}

.color {
  margin: 20px 0;
}

.gridpick {
  display: inline;
  font-size: 20px;
}

.gridset {
  margin: 20px 0;
}

#sizePicker {
  display: inline;
}

.submit-btn {
  color: #fff;
  background-color: #007bff;
  display: inline-block;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type='number'] {
  width: 6em;
}
