body {
    font-family: 'VT323', monospace;
    background: black;
    color: white;
}

input[type=text] {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    caret-shape: bar;
}

#last-login {
    /* display: none; */
}